body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #3b3b3b;
  text-align: left;
  background-color: #eee;
}

.dashboard-wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 20px;
}

.menu-burger {
  display: none;
  background: #ff4587;
  border: 1px solid #bc527e;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: fixed;
  top: 25px;
  right: 30px;
  z-index: 1;
}

.burger {
  position: relative;
  display: block;
  background: white;
  width: 20px;
  height: 2px;
  top: 19px;
  left: 10px;
  transition: 0.3s ease-in-out;
}

.burger::before,
.burger::after {
  background: white;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.3s ease-in-out;
}

.burger::before {
  top: -7px;
}

.burger::after {
  bottom: -7px;
}

input {
  display: none;
}

input:checked ~ label .burger {
  transform: rotate(45deg);
}

input:checked ~ label .burger::before {
  transform: rotate(90deg);
  top: 0;
}

input:checked ~ label .burger::after {
  transform: rotate(90deg);
  bottom: 0;
}


nav {
  padding: 10px 30px 15px 15px;
  background-color: #292929;
  position: fixed;
  width: 100%;
  border-top: 2px solid #ff4587;
  z-index: 10;
}

.nav__wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  margin: 10px 30px 0 0;
}

.nav__item {
  position: relative;
  margin: 0 20px;
  text-decoration: none;
  color: rgb(235, 235, 235);
  transition: ease-in 0.1s;
}

.nav__item::after {
  position: absolute;
  content: '';
  width: 0;
  height: 2px;
  background: #ff4587;
  transition: width .3s;
  left: 0;
  bottom: 0;
}

.nav__item:hover::after {
  width: 100%;
}

.mydas-logo {
  width: 100%;
  background-image: url('../img/mydas-logo.png');
  display: block;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-holder {
  justify-self: flex-end;
}

.sidebar-wrapper {
  display: none;
  width: 100%;
}

.sidebar {
  background: #292929;
  margin: 10px 10px 0 0;
  padding: 10px;
  border-radius: 4px;
  position: sticky;
  top: 20px;
}

.sidebar-logout {
  display: none;
}

.logo-wrapper {
  margin: 40px;
}

.line {
  display: block;
  height: 1px;
  width: 140px;
  background-color: #eee;
  margin: 5px auto;
}

.big__line {
  display: block;
  height: 1px;
  width: 200px;
  background-color: #47fa45;
  margin: 5px auto;
}

.bottom-line {
  display: none;
}

.quotation-title {
  text-align: center;
  margin: 20px 0;
  color: #eee;
}

.quotation-list {
  margin: 0;
  padding: 0 15px;
}

.quotation-item {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-gap: 10px;
  margin: 20px 0;
  color: #eee;
}

.quotation-text {
  margin: auto 0;
}

.pipe {
  color: #47fa45;
  margin: 0 5px;
}

.section-scroll {
  padding-top: 87px;
}

.first-section {
  position: relative;
  background-image: url('../img/first.png');
  background-size: cover;
  background-position: bottom;
  height: calc(100vh - 87px);
}

.first-section::after {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 5;
}

.first-section__holder {
  padding: 100px 0 0 100px;
}

.first-section__title {
  position: relative;
  z-index: 10;
  font-size: 68px;
  color: white;
}

.first-section__subtitle {
  position: relative;
  z-index: 10;
  font-size: 62px;
  color: #ff4587;
}

.first-section__paragraph {
  position: relative;
  z-index: 10;
  color: #eee;
  padding-left: 5px;
}

.second-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 87px);
}

.second-left {
  padding: 80px 0 0 60px;
}


.second-section__title {
  font-size: 60px;
  color: #292929;
}

.second-section__subtitle {
  font-size: 54px;
  color: #ff4587;
}

.second-section__paragraph {
  padding-left: 5px;
}

.icon-holder {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px 0 0 20px;
}

.icon-row {
  display: grid;
  grid-template-columns: 10% 80%;
  align-items: center;
}

.second-right {
  background-image: url('../img/second.png');
  background-size: cover;
  background-position: center;
}

.third-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 87px);
}

.third-left {
  padding: 80px 0 0 60px;
}

.third-section__title {
  font-size: 60px;
  color: #292929;
}

.third-section__subtitle {
  font-size: 54px;
  color: #ff4587;
}

.third-section__paragraph {
  padding-left: 5px;
}

.third-right {
  background-image: url('../img/third.png');
  background-size: cover;
  background-position: center;
}

.forth-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  height: calc(100vh - 87px);
}

.forth-left {
  padding: 80px 0 0 60px;
}


.forth-section__title {
  font-size: 60px;
  color: #ff4587;
}

.forth-section__subtitle {
  font-size: 54px;
  color: #292929;
}

.forth-section__paragraph {
  padding-left: 5px;
}

.forth-right {
  background-color: #d4d4d4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* padding: 40px; */
}

.team-card {
  padding: 20px;
  background-color: #ececec;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.2fr 0.2fr;
  align-items: center;
}

.team-card__img {
  flex-grow: 1;
  flex-shrink: 0;
  width: 55%;
  margin: 0 auto;
}

.team-card__description {

}

.team-card__name {
  margin-bottom: 0;
  font-size: 24px;
  text-align: center;
}

.team-card__link {
  margin-bottom: 0;
  text-decoration: none;
  color: #37a235;
  font-size: 16px;
  text-align: center;
  transition: 0.1s ease-in;
}

.team-card__link:hover {
  color: #47fa45;
  transition: 0.1s ease-in-out;
}

.team-img {
  height: 100%;
  min-height: 150px;
  border-radius: 8px;
}

.team-img__matheus {
  background-image: url('../img/matheus.jpg');
  background-size: cover;
  background-position: top;
}

.team-img__gabriela {
  background-image: url('../img/gabriela.jpeg');
  background-size: cover;
  background-position: center;
}

.team-img__ellidy {
  background-image: url('../img/ellydi.jpeg');
  background-size: cover;
  background-position: right;
}

.team-img__carlos {
  background-image: url('../img/carlos.jpeg');
  background-size: cover;
  background-position: center;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #292929;
  height: 200px;
  border-top: 1px solid #eee;
  font-size: 14px;
}

.footer-left {
  display: grid;
  grid-template-rows: 1fr 1fr;
  color: white;
  padding: 40px 0 0 40px;
}

.footer-right {
  color: white;
  padding: 40px 0 0 40px;
  align-items: flex-end;
}

.socialmedia-description {
  padding-left: 20px;
}

.footer-icon__holder {
  display: grid;
  grid-template-columns: 10% 10% 10%;
  grid-gap: 20px;
  padding: 40px 0 0 20px;
}

.footer-address {
  display: grid;
  grid-template-rows: 25% 25% 25%;
}

.footer-mailto {
  color: #47fa45;
  text-decoration: none;
}

.copyright {
  align-self: flex-end;
  padding-bottom: 20px;
}

.footer-icon__row {

}

.icon-link {
  text-decoration: none;
  color: white;
}

.icon {
  display: inline-block;
  width: 2em;
  height: 2em;
  stroke-width: 0;
  stroke: #47fa45;
  fill: #47fa45;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {

    nav {
      display: none;
    }

    .menu-burger {
      display: block;
      z-index: 10;
    }

    .sidebar-wrapper {
      display: block;
    }

    .sidebar-open {
      overflow: hidden;
    }

    .sidebar {
      height: 100vh;
      width: 70%;
      position: fixed;
      left: -100%;
      top: 0;
      transition: left 0.3s ease-in-out;
      z-index: 20;
      display: grid;
      grid-template-rows: 1fr 1fr;
    }
  
    .show-sidebar {
      left: 0;
    }

    .mydas-logo {
      height: 50px;
    }
  
    .sidebar-list {
      display: grid;
      grid-template-rows: 0.1fr 0.1fr;
      grid-gap: 10px;
    }

    .sidebar-link {
      text-decoration: none;
      color: white;
      text-align: center;
      font-size: 18px;
    }
  
    .bottom-line {
      display: block;
      height: 1px;
      width: 140px;
      background-color: #eee;
      margin: 5px auto;
    }

    .first-section {
      padding: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-size: auto 70%;
      background-position: center bottom;
      background-repeat: no-repeat;
    }

    .first-section__holder {
      padding: 0;
    }

    .first-section__title {
      font-size: 48px;
      padding-left: 5%;
    }

    .first-section__subtitle {
      font-size: 42px;
      padding-left: 5%;
    }

    .first-section__paragraph {
      padding-left: 5%;
    }

    .second-section {
      padding: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .second-left {
      padding: 0;
    }

    .second-section__title {
      font-size: 42px;
      padding-left: 5%;
    }

    .second-section__subtitle {
      font-size: 38px;
      padding-left: 5%;
    }

    .second-section__paragraph {
      padding-left: 5%;
    }

    .icon-holder {
      padding: 40px 0 0 20px;
    }

    .icon-row {
      grid-template-columns: 10% 90%;
    }

    .second-right {
      display: none;
    }

    .third-section {
      padding: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #292929;
    }

    .third-left {
      padding: 0;
    }

    .third-section__title {
      color: white;
      font-size: 42px;
      padding-left: 5%;
    }

    .third-section__subtitle {
      font-size: 38px;
      padding-left: 5%;
    }

    .third-section__paragraph {
      padding-left: 5%;
      color: #afafaf;
    }

    .third-right {
      display: none;
    }

    .forth-section {
      padding: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .forth-left {
      padding: 0;
      height: 50vh;
      padding-top: 80px;
    }

    .forth-section__title {
      font-size: 42px;
      padding-left: 5%;
    }

    .forth-section__subtitle {
      font-size: 38px;
      padding-left: 5%;
    }

    .forth-section__paragraph {
      padding-left: 5%;
    }

    .forth-right {
      display: none;
    }

    footer {
      background-color: #292929;
      border-top: 1px solid #eee;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 40px 0;
  }

  .footer-left {
    grid-template-rows: 1fr 0.2fr;
    padding: 0;
  }

  .footer-address {
    grid-gap: 5px;
    text-align: center;
  }

  .copyright {
    padding-bottom: 20px;
    text-align: center;
  }

  .footer-right {
    padding: 0;
  }

  .socialmedia-description {
    padding: 0;
    text-align: center;
  }

  .footer-icon__holder {
    grid-gap: 40px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

  .mydas-logo {
    height: 50px;
  }
  
  .second-section__title {
    font-size: 54px;
  }

  .second-section__subtitle {
    font-size: 48px;
  }
  
  .third-section__title {
    font-size: 54px;
  }

  .third-section__subtitle {
    font-size: 48px;
  }
  
  .forth-section__title {
    font-size: 54px;
  }

  .forth-section__subtitle {
    font-size: 48px;
  }

  .third-right {
    background-size: auto 70%;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #e4e4e4;
  }

  .team-card {
    padding: 0;
  }
}